html {
   -webkit-font-smoothing: antialiased;
   font-size: .9rem;
}

div > h2 {
   margin-bottom: 1rem;
}

.markdown pre {
   margin: 0;
   font-size: .9rem;
}

.markdown pre .lang-jsx {
   font-size: 1rem;
}

.markdown h2 {
   margin-bottom: 2rem;
}

.markdown h4 {
   margin-bottom: 1.5rem;
   padding-bottom: .5rem;
   border-bottom: 1px solid #ccc;
}

.markdown * > h4,
.markdown * + h4 {
   margin-top: 2rem;
}

.markdown blockquote {
   border-left: .5rem solid #ccc;
   padding-left: 1rem;
   margin-left: 3rem;
   font-style: italic;
}

.markdown ol {
   margin-left: -1.5rem;
   font-weight: 600;
}
