html {
   -webkit-font-smoothing: antialiased;
   font-size: 1rem;
}

.markdown pre {
   margin: 0;
}

.markdown h4 {
   margin-bottom: 1.5rem;
   padding-bottom: .5rem;
   border-bottom: 1px solid #ccc;
}

.markdown * + h4 {
   margin-top: 2rem;
}
